*{
font-family:sans-serif;
padding: 0;
margin: 0;

}
body{
      background-color: #151020;


}
.Head{
    display: block;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
    line-height: 30px;
    color: #ebe2e2;

}
.logo{

    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(156, 16, 16, 0.5);

}
@keyframes fade {
   
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
.logo{
    animation: fade 5s ease-in-out;
}
.logo:hover{
    color: #b9b0b0;
}

.button{
    background: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;

}

.button a{
    text-decoration: none;
    color: #ebe2e2;
}
.button:hover{
background-color: #222121;
}
.About-sec{
    color: #fff;
    padding: 20px;
    line-height: 30px;
    color: #ebe2e2;
}
.About{
   color: white;
}
.About:hover{
    color: #968a8a;
}
.todo{
    display: flex;
    justify-content: center;

 margin-top: 20px;
}
.para{
    margin-left: 30px;
}
.project-sec{
    color: #fff;
    padding: 20px;
    line-height: 30px;
    color: #ebe2e2;
}
 .to{
    text-decoration: none;
    color: #fff;
    
 }
 .button button{
    font-size: 10px;
    color: rgb(30, 36, 30);
    background-color: wheat;

 width: 50px;
 border-radius: 10px;
 cursor: pointer;
 }
 strong:hover{
    color:rgb(30, 36, 30); ;
 }
 .skills{
    padding: 20px;
display: block;
    justify-content: center;

 }
 .skills  h5 {
    color: white;
line-height: 25px;
 }
.st{
    margin-bottom: 10px;
}
.github{
    color: white;
    padding: 20px;
    
}
h4:hover{
color: #968a8a;
}
.skill1{
    display: flex;
}
.tools {
    display: flex;
}
.tools h5{
    width: 100px;
    border: 1px solid white;
    font-size: 10px;
    padding-left: 5px;
}
.c-header{
    text-align: center;
}
.c-header h1,u, h4{
    color: white;
}
.head1{
    color:white;
    line-height: 25px;
}
.head1 h5{
    font-size: 15px;
}
.contact{
    padding: 20px;

}
.form input,textarea {
    display: block;
    padding: 10px;
    border: 1px solid black;
    width: 50%;
    border-radius: 3px;
    margin-top:20px ;
}
.form button{
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #5a5555;
    color: white;
}
.form button:hover{
    background-color: #222121;
}

footer{
    margin: 20px;

    text-align: center;
    color: #e3e0e0;
}
footer strong{
    color: #fff;
}
.headers{
    display: flex;
}
.button4  {
float: right;
margin-left: auto;
}
.btn4{
margin-right: 10px;
padding: 2.5px;
color: white;
    background-color: #151020;
    border: none;
border-radius: 5px;
cursor: pointer;
}

.btn4 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
   }



   @media  (max-width:500px) {
    
    .headers{
        display: block;
    }
    .button4{
        float: left;

        margin-right: auto;

    }

    .todo{
        display: block;
        margin-left: 10px;
        max-width: 400px;
    }
    .todo img{
        width: 100%;
    }
}